<div class="container">
  <p id="notice"><%= notice %></p>
  <div class="jumbotron">
    <h3>Employee Admission</h3>
    <%= link_to "Create An Admission Here", new_employee_path, class: "btn btn-primary"%>
  </div>
  <div class="search_form">
    <%= search_form_for @search do |f| %>
      <div class="input-group">
        <%= f.text_field :first_name_or_middle_name_cont, :placeholder => "Search Employee", class: "form-control" %>
        <span class="input-group-btn">
          <%= f.submit "Search Employee", class: "btn btn-primary" %>
        </span>
      </div>
    <% end %>
  </div>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Address</th>
          <th>Email</th>
          <th>Contact</th>
          <th>Qualification</th>
          <th>Department</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @employees.each do |employee| %>
          <tr>
            <td><%= employee.name %></td>
            <td><%= employee.full_address %></td>
            <td><%= employee.email %></td>
            <td><%= employee.contact %></td>
            <td><%= employee.qualification %></td>
            <td><%= employee.department.try(:name) %></td>
            <td><%= link_to 'Show', employee, class: "btn btn-info btn-sm" %></td>
            <td><%= link_to 'Edit', edit_employee_path(employee), class: "btn btn-warning btn-sm" %></td>
            <td><%= link_to 'Destroy', employee, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= link_to 'New Employee', new_employee_path, class: "btn btn-primary" %>
</div>
