<div class="container">
  <p id="notice"><%= notice %></p>
  <div class="row">
    <div class="col-md-4 col-xs-12">
      <p>
    <strong>Name:</strong>
    <%= @employee.name %>
      </p>

      <p>
        <strong>City:</strong>
        <%= @employee.city %>
      </p>

      <p>
        <strong>State:</strong>
        <%= @employee.state %>
      </p>

      <p>
        <strong>Country:</strong>
        <%= @employee.country %>
      </p>

      <p>
        <strong>Email:</strong>
        <%= @employee.email %>
      </p>

      <p>
        <strong>Contact:</strong>
        <%= @employee.contact %>
      </p>

      <p>
        <strong>Address:</strong>
        <%= @employee.address %>
      </p>

      <p>
        <strong>Date of birth:</strong>
        <%= @employee.date_of_birth %>
      </p>

      <p>
        <strong>Age:</strong>
        <%= @employee.age %>
      </p>

      <p>
        <strong>Date of joining:</strong>
        <%= @employee.date_of_joining %>
      </p>

      <p>
        <strong>Qualification:</strong>
        <%= @employee.qualification %>
      </p>

      <p>
        <strong>Department:</strong>
        <%= @employee.department.try(:name) %>
      </p>

      <%= link_to 'Edit', edit_employee_path(@employee) %> |
      <%= link_to 'Back', employees_path %>
    </div>
    <div class="col-md-8 col-xs-12">

    </div>
  </div>
</div>