<div class="container">
  <p id="notice"><%= notice %></p>
  <div class="profile-section">
    <div class="row">
      <div class="col-md-3 col-lg-3 col-sm-4 col-xs-12 left-side-bar">
        <div class="emp-profile">
          <%= image_tag @employee.try(:profile_picture), class: "img-profile profile-img" %>
          <h4>
            <i class="fa fa-user" aria-hidden="true"></i>
            <span class="emp-info"><%= @employee.name %></span>
          </h4>
          <h4>
            <i class="fa fa-envelope" aria-hidden="true"></i>
            <span class="emp-info"><%= @employee.email %></span>
          </h4>
          <h4>
            <i class="fa fa-building-o" aria-hidden="true"></i>
            <span class="emp-info"><%= @employee.department.try(:name) %></span>
          </h4>
          <h4>
            <i class="fa fa-book" aria-hidden="true"></i>
            <span class="emp-info"><%= @employee.qualification %></span>
          </h4>
          <h4>
            <i class="fa fa-phone" aria-hidden="true"></i>
            <span class="emp-info"><%= @employee.contact %></span>
          </h4>
          <h4>
            <i class="fa fa-calendar" aria-hidden="true"></i>
            <span class="emp-info"><%= @employee.date_of_birth %>(DOB)</span>
          </h4>
          <h4>
            <i class="fa fa-calendar" aria-hidden="true"></i>
            <span class="emp-info"><%= @employee.date_of_joining %>(Joining Date)</span>
          </h4>
          <h4>
            <i class="fa fa-map-marker" aria-hidden="true"></i>
            <span class="emp-info"><%= @employee.full_address %></span>
          </h4>
          <div id="map" style="width:100%;height:200px;"></div>
        </div>
      </div>
      <div class="col-md-9 col-lg-9 col-sm-8">
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <%= render :partial => "employees/employee_tasks", locals: { employee: @employee } %>
</div>


<script>
  function initMap() {
    var myLatLng = {
      lat: <%= @employee.latitude %>,
      lng: <%= @employee.longitude %>
    };
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 6,
      center: myLatLng
    });
    var marker = new google.maps.Marker({
      position: myLatLng,
      map: map
    });
  }
</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDSn87BAlXf3_IKKAXZzb8h2sRLLwMPQhA&callback=initMap">
</script>


<style type="text/css">
  .left-side-bar {
    min-height:600px;
    background-color: #ddd;
  }
  .profile-img {
    border:2px solid #009688;
    width:100%;
  }
  .emp-profile .fa {
    color: #009688;
    padding-right:1%;
    font-size: 20px;
  }
  .emp-profile h4 span {
    color: #009000;
    font-size: 15px;
  }
  .emp-profile {
    padding-top:10%;
  }
  #map {
    border:4px solid #009688;
  }
  .profile-section,.emp-profile {
    padding-bottom: 10%;
  }
</style>