<%= form_for @task, :remote => true do |f| %>
  <div class="modal-body">
    <div class="error_explanation">
    </div>
    <div class="field">
      <%= f.label :title %><br>
      <%= f.text_field :title, class:"form-control input-lg" %>
    </div>
    <div class="field">
      <%= f.label :description %><br>
      <%= f.text_area :description, class:"form-control" %>
    </div>
    <div class="field">
      <%= f.label :due_date %><br>
      <%= f.text_field :due_date, class:"form-control input-lg datepicker" %>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-lg btn-default" data-dismiss="modal">Close</button>
    <%= f.submit "Save Task", class: "btn btn-lg btn-primary" %>
  </div>
<% end %>

<script type="text/javascript">
  $('.datepicker').datepicker({
    format: "yyyy-mm-dd"
  });
</script>