<div class="container">
  <p id="notice"><%= notice %></p>
  <div class="jumbotron">
    <h3>Listing Tasks</h3>
  </div>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>Due Date</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody id="task-index">
        <% @tasks.each do |task| %>
          <tr id="task_<%= task.id %>">
            <td><%= task.title %></td>
            <td><%= task.description %></td>
            <td><%= task.due_date %></td>
            <td><%= link_to 'Show', task, class: "btn btn-info" %></td>
            <td><%= link_to 'Edit', edit_task_path(task), class: "btn btn-warning", :remote => true %></td>
            <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger", :remote => true %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <br>

  <%= link_to 'New Task', new_task_path, class: "btn btn-primary", :remote => true %>

  <div class="modal fade" id="newTask" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  </div>
  <div class="modal fade" id="editTask" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  </div>
</div>