<div class="container">
  <p id="notice"><%= notice %></p>
  <p>
    <strong>Title:</strong>
    <%= @task.title %>
  </p>
  <p>
    <strong>Description:</strong>
    <%= @task.description %>
  </p>
  <% if @task.employees.present? %>
    <div class="jumbotron">
      <h4>Employee list for this task</h4>
      <% @task.employees.each do |employee| %>
        <h5><a data-toggle="modal" data-target="#deptEmployeeModal" href="#" data-emp-id="<%= employee.id %>" class="task-employee" data-remote="true"><%= employee.try(:name)%></a></h5>
      <% end %>
    </div>
  <% else %>
    <div class="jumbotron">
      <h4>This task is unsigned yet.</h4>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#assignTask">Assign Task</button>
    </div>
  <% end %>
  <%= link_to 'Edit', edit_task_path(@task) %> |
  <%= link_to 'Back', tasks_path %>
</div>
<div class="modal fade" id="assignTask" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <%= render "tasks/assign_task" %>
</div>

<div class="modal fade" id="deptEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
</div>

<script type="text/javascript">
  $(".task-employee").on('click', function(){
    var employeeId = $(this).data("emp-id");
    $.ajax({
      url: "/departments/department_employee",
      type: "GET",
      data: {employee_id : employeeId }
    });
  });
</script>