<% if student.guardians.present? %>
  <div class="jumbotron">
    <h2>Guardian List</h2>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Relation</th>
            <th>Address</th>
            <th>Contact</th>
            <th>State</th>
          </tr>
        </thead>
        <tbody id="student-guardian-index">
          <% student.guardians.each do |guardian| %>
            <tr>
              <td><%= guardian.try(:name)%></td>
              <td><%= guardian.relation%></td>
              <td><%= guardian.address%></td>
              <td><%= guardian.contact%></td>
              <td><%= guardian.state%></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>