<div class="container">
  <div class="student-dashboard">
    <div class="row">
      <div class="col-md-4 col-xs-12 col-sm-4 dashboard-block">
        <%= image_tag "empprofile.jpeg", class: "img-responsive student-dashboard-images" %>
        <div class="caption text-center">
          <h4><%= link_to "My Profile", "/employee_profile" %></h4>
        </div>
      </div>
      <div class="col-md-4 col-xs-12 col-sm-4 dashboard-block">
        <%= image_tag "news.jpg", class: "img-responsive student-dashboard-images" %>
        <div class="caption text-center">
          <h4><%= link_to "Academic News", "#"%></h4>
        </div>
      </div>
      <div class="col-md-4 col-xs-12 col-sm-4 dashboard-block">
        <%= image_tag "events.jpeg", class: "img-responsive student-dashboard-images" %>
        <div class="caption text-center">
          <h4><%= link_to "Academic Events", "#"%></h4>
        </div>
      </div>
    </div>
  </div>
</div>

<style type="text/css">
  @media screen and (min-width:768px) {
    .student-dashboard {
      width:90%;
      background-color: #bbb;
      min-height:600px;
      margin-bottom: 20px;
      margin-left: 5%;
    }
    .student-dashboard-images {
      width:85%;
      height:270px;
      border:2px solid #009688;
    }
    .dashboard-block .student-dashboard-images{
      margin: 20px;
    }
    .caption{
      margin-top:-20px;
      background-color: #009688;
      width:85%;
      height:50px;
      margin-left: 20px;
    }
    .caption h4 {
      padding-top:15px;
      color:#fff;
    }
    .caption a {
      color:#fff;
    }
  }
  @media screen and (max-width:767px) {
    .student-dashboard {
      width:100%;
    }
    .student-dashboard-images {
      width:85%;
      height:250px;
      border:2px solid #009688;
    }
    .dashboard-block .student-dashboard-images{
      margin: 20px;
    }
    .caption{
      margin-top:-20px;
      background-color: #009688;
      width:85%;
      height:50px;
      margin-left: 20px;
    }
    .caption h4 {
      padding-top:15px;
      color:#fff;
    }
    .caption a {
      color:#fff;
    }
  }
</style>