<% if employee_signed_in? %>
  <div class="container profile-container">
    <div class="row">
      <div class="col-xs-12 col-md-3 ">
        <div class="employee-img">
          <%= image_tag current_employee.profile_picture, class: "img-responsive profile-img"%>
        </div>
      </div>
      <div class="col-xs-12 col-md-9">
        <div class="employee-info">
          <h4><strong>Name:</strong><%= current_employee.name%></h4>
          <h4><strong>Email:</strong><%= current_employee.email%></h4>
          <h4><strong>DOB:</strong><%= current_employee.date_of_birth%></h4>
          <h4><strong>Joining:</strong><%= current_employee.date_of_joining%></h4>
          <h4><strong>Post:</strong>Proffessor</h4>
          <h4><strong>Contact:</strong><%= current_employee.contact%></h4>
        </div>
      </div>
    </div>
    <% if current_employee.subjects.present? %>
      <div class="panel-group" id="accordion-subject" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
          <a role="button" data-toggle="collapse" data-parent="#accordion-subject" href="#collapseSubject" aria-expanded="true" aria-controls="collapseSubject">
            <div class="panel-heading" role="tab" id="headingSubject">
              <h4 class="panel-title">
                <strong>My Subjects</strong>
              </h4>
            </div>
          </a>
          <div id="collapseSubject" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSubject">
            <div class="panel-body" style="background-color: #fff;">
              <ul>
                <% current_employee.subjects.each do |my_sub| %>
                  <li><%= my_sub.try(:name)%></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <% if current_employee.tasks.present? %>
      <div class="panel-group" id="accordion-task" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default">
            <a role="button" data-toggle="collapse" data-parent="#accordion-task" href="#collapseTask" aria-expanded="true" aria-controls="collapseTask">
              <div class="panel-heading" role="tab" id="headingTask">
                <h4 class="panel-title">
                  <strong>My Tasks</strong>
                </h4>
              </div>
            </a>
            <div id="collapseTask" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTask">
              <div class="panel-body" style="background-color: #fff;">
                <table class="table">
                  <thead>
                    <th>Task</th>
                    <th>Due Date</th>
                    <th>Status</th>
                  </thead>
                  <tbody>
                    <% current_employee.tasks.each do |my_task| %>
                      <tr>
                        <td><%= my_task.try(:title)%></td>
                        <td><%= my_task.try(:due_date)%></td>
                        <td>
                          <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-default">TODO</button>
                            <button type="button" class="btn btn-default">In Progress</button>
                            <button type="button" class="btn btn-default">Done</button>
                          </div>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
      </div>
    <% end %>
  </div>

<% end %>

<style type="text/css">
  .employee-img, .employee-info {
    background-color: #ccc;
    padding-top: 20px;

  }
  .profile-img {
    border:2px solid #009688;
    margin-left:0%;
  }
  .profile-container {
    background-color: #ccc;
    min-height:300px;
  }
</style>