<%= form_for @course, :remote => true do |f| %>
  <div class="modal-body">
    <div class="error_explanation">
    </div>
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control input-lg" %>
    </div>
    <div class="field">
      <%= f.label :duration %>
      <%= f.text_field :duration, class: "form-control input-lg" %>
    </div>
    <div class="field">
      <%= f.label :department %>
      <%= f.select :department_id, options_for_select(Department.all.collect {|p| [ p.name, p.id ] },(f.object.try(:department_id))),{include_blank: 'None'}, { :class => 'form-control input-lg'} %>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-lg btn-default" data-dismiss="modal">Close</button>
    <%= f.submit "Save Course", class: "btn btn-lg btn-primary" %>
  </div>
<% end %>