<div class="container">
  <p id="notice"><%= notice %></p>
  <p>
    <strong>Name:</strong>
    <%= @course.name %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= @course.duration %>
  </p>

  <p>
    <strong>Department:</strong>
    <%= @course.department.try(:name) %>
  </p>

  <div class="jumbotron">
    <button class="btn btn-primary btn-lg active-batches" data-course-id="<%= @course.id %>">View Active Batches</button>
    <div id="active_batch_list">
      <%#= render "courses/active_batch_list"%>
    </div>
  </div>

  <div id="course-subject-list">
    <%= render "course_subject_list", course: @course %>
    <%#= render "course_section_list", course: @course %>
  </div>
  <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#include-subjects">
    Include Subjects
  </button>
  <div class="modal fade" id="include-subjects" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <%= render "include_subjects"%>
  </div>
  <div class="modal fade" id="include-section-subjects" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <%= render "include_section_subjects"%>
  </div>
  <%= link_to 'Edit', edit_course_path(@course), :remote => true %> |
  <%= link_to 'Back', courses_path %>
</div>
<div class="modal fade" id="edit-course-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
</div>
<div class="modal fade" id="edit-course-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
</div>

<script type="text/javascript">
  $(".active-batches").on('click', function(){
    var courseId = $(this).data("course-id");
    $.ajax({
      type: "GET",
      url: "/courses/active_batch_list",
      data: {course_id : courseId }
    });
  });
</script>