<tr id="batch_<%= batch.id %>">
  <td><%= batch.start_year %></td>
  <td><%= batch.end_year %></td>
  <td><%= batch.is_active %></td>
  <td><%= batch.course.try(:name) %></td>
  <td><%= link_to 'Show', batch, class: "btn btn-info" %></td>
  <td><%= link_to 'Edit', edit_batch_path(batch), class: "btn btn-warning", :remote => true %></td>
  <td><%= link_to 'Destroy', batch, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger", :remote => true %></td>
</tr>