<%= form_for @batch, :remote => true do |f| %>
  <div class="modal-body">
    <div class="error_explanation"></div>
    <div class="field">
      <%= f.label :start_year %><br>
      <%= f.date_select :start_year %>
    </div>
    <div class="field">
      <%= f.label :end_year %><br>
      <%= f.date_select :end_year %>
    </div>
    <div class="field">
      <%= f.label :is_active %><br>
      <%= f.check_box :is_active %>
    </div>
    <div class="field">
      <%= f.label :course_id %><br>
      <%= f.select :course_id, options_for_select(Course.all.collect {|p| [ p.name, p.id ] },(f.object.try(:course_id))),{include_blank: 'None'}, { :class => 'form-control input-lg'} %>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-lg btn-default" data-dismiss="modal">Close</button>
    <%= f.submit "Save Batch", class: "btn btn-lg btn-primary" %>
  </div>
<% end %>
