<!DOCTYPE html>
<html ng-app="app">
<head>
  <title>SchoolManagement</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render "layouts/header"%>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= yield %>
 <footer class="footer-distributed">

      <div class="footer-left">

        <h3>MCAPS<span>AMS</span></h3>

        <p class="footer-links">
        </p>

        <p class="footer-company-name">mcaps &copy; 2015</p>
        <p class="footer-company-name">Indore, MP, India</p>
      </div>

      <div class="footer-center">
        <div>
        </div>
        <div>
        </div>
      </div>
      <div class="footer-right">
        <p class="footer-company-about">
        </p>
        <div class="footer-icons">
        </div>
      </div>

    </footer>
</body>
</html>
